.footer-container-wrapper{
  padding:4px;
  background-color:#2841f9;
  background-image:url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.6' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  color: white;
  /* height: 80px; */
  padding: 10px;
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 50px;
  margin-bottom: 25px;
  font-size: 1.2em;
  align-items: flex-end;
}

.footer-container-wrapper .footer-image {
  margin-right: 20px;
}

.footer-container-wrapper a {
  color: white;
  font-weight: bolder;
}

.bg-gray {
  background-color: white !important;
}

div#holy {
  height: auto;
}

.credits {
  margin-bottom: 15px;
  right: 0;
  margin-right: 70px;
  text-align: right;
}
