<!-- single page card -->
<div class="rounded-2">
  <div class="Subhead mb-2">
    <div class="Subhead-heading">
      <a href="{{ .RelPermalink }}">
        <div class="h3">{{ .Title }}</div>
      </a>
    </div>
<!--    <div class="Subhead-description">
      {{ partial "taxonomy.html" . }}
      <div class="float-md-right">
        <span>{{ .Date.Format "2006-01-02" }}</span>
      </div>
    </div> -->
  </div>
<!--
  <div class="text-gray">-->
    <!-- summary -->
<!--    {{ .Summary }}
    <a class="muted-link" href="{{ .RelPermalink }}">…</a>
  </div>-->
</div>
